{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% load addcss from addcss %}
{% block content %}
    <form role="form" method="post" action="">
    <h2 class="sub-header">Password Change</h2>
    <p>Please enter your old password, for security's sake, and then enter your
    new password twice so we can verify you typed it in correctly.</p>
    {% csrf_token %}
      <div class="form-group">
        {{ form.old_password.label_tag }}
        {{ form.old_password|addcss:"form-control" }}
        <p class="help-inline"><small>
            <span class="text-danger">{% for error in form.old_password.errors %}{{ error }}{% endfor %}</span>
            {{ form.old_password.help_text }}
        </small></p>
      </div>
      <div class="form-group">
        {{ form.new_password1.label_tag }}
        {{ form.new_password1|addcss:"form-control" }}
        <p class="help-inline"><small>
            <span class="text-danger">{% for error in form.new_password1.errors %}{{ error }}{% endfor %}</span>
            {{ form.new_password1.help_text }}
        </small></p>
      </div>
      <div class="form-group">
        {{ form.new_password2.label_tag }}
        {{ form.new_password2|addcss:"form-control" }}
        <p class="help-inline"><small>
            <span class="text-danger">{% for error in form.new_password2.errors %}{{ error }}{% endfor %}</span>
            {{ form.new_password2.help_text }}
        </small></p>
      </div>
      <button type="submit" class="btn btn-default">Change Password</button>
    </form>
{% endblock %}