{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% load addcss from addcss %}
{% block page %}
  <div class="col-md-4 col-md-offset-4" style="margin-top: 2em;">
    <form role="form" method="post" action="">
    {% csrf_token %}
      <p>Please specify your email address to receive instructions for resetting your password.</p>
      <div class="form-group">
        {{ form.email.label_tag }}
        {{ form.email|addcss:"form-control" }}
        <p class="help-inline"><small>
            <span class="text-danger">{% for error in form.email.errors %}{{ error }}{% endfor %}</span>
        </small></p>
      </div>
      <button type="submit" class="btn btn-default">Reset Password</button>
    </form>
  </div>
{% endblock %}