{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% load addcss from addcss %}
{% block page %}
  <div class="col-md-4 col-md-offset-4" style="margin-top: 2em;">
    <form role="form" method="post" action="">
    {% csrf_token %}
      <div class="form-group">
        {{ form.new_password1.label_tag }}
        {{ form.new_password1|addcss:"form-control" }}
        <p class="help-inline"><small>
            <span class="text-danger">{% for error in form.new_password1.errors %}{{ error }}{% endfor %}</span>
            {{ form.new_password1.help_text }}
        </small></p>
      </div>
      <div class="form-group">
        {{ form.new_password2.label_tag }}
        {{ form.new_password2|addcss:"form-control" }}
        <p class="help-inline"><small>
            <span class="text-danger">{% for error in form.new_password2.errors %}{{ error }}{% endfor %}</span>
            {{ form.new_password2.help_text }}
        </small></p>
      </div>
      <button type="submit" class="btn btn-default">Change Password</button>
    </form>
  </div>
{% endblock %}