{% load active from navigation %}
<ul class="{{ class }}">
{% if request.user.is_authenticated %}
  <li class="{% active 'portal.views.index' %}">
    <a href="{% url 'portal.views.index' %}">Account Summary</a>
  </li>
  <li class="divider"></li>
  <li class="dropdown-header">Hosts</li>
  <li class="{% active 'portal.views.all_hosts' %}">
    <a href="{% url 'portal.views.all_hosts' %}">List Hosts</a>
  </li>
  <li class="{% active 'portal.views.own_hosts' %}">
    <a href="{% url 'portal.views.own_hosts' %}">List Your Hosts</a>
  </li>
  <li class="{% active 'portal.views.host_detail' %}">
    <a href="{% url 'portal.views.host_detail' %}">Create Host
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
  </li>
  <li class="divider"></li>
  <li class="dropdown-header">Subnets</li>
  <li class="{% active 'portal.views.all_subnets' %}">
    <a href="{% url 'portal.views.all_subnets' %}">List Subnets</a>
  </li>
  <li class="{% active 'portal.views.own_subnets' %}">
    <a href="{% url 'portal.views.own_subnets' %}">List Your Subnets</a>
  </li>
  <li class="{% active 'portal.views.subnet_detail' %}">
    <a href="{% url 'portal.views.subnet_detail' %}">Create Subnet
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
  </li>
  <li class="divider"></li>
  <li class="dropdown-header">DNS</li>
  <li class="{% active 'record_list' %}">
    <a href="{% url 'record_list' %}">List DNS records</a>
  </li>
  <li class="{% active 'dns.views.own_dns' %}">
    <a href="{% url 'dns.views.own_dns' %}">List Your DNS records</a>
  </li>
  <li class="{% active 'record_create' %}">
    <a href="{% url 'record_create' %}">Create DNS record
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
  </li>
{% else %}
  <li class="{% active 'portal.views.all_hosts' %}">
    <a href="{% url 'portal.views.all_hosts' %}">List Hosts</a>
  </li>
  <li class="{% active 'portal.views.all_subnets' %}">
    <a href="{% url 'portal.views.all_subnets' %}">List Subnets</a>
  </li>
  <li class="{% active 'record_list' %}">
    <a href="{% url 'record_list' %}">List DNS records</a>
  </li>
{% endif %}
</ul>
